
$page-width: 1200px;

$navbar-color: #2b2b2b;
$header-color: #fcfcfc;


// First media query breakpoint -- navbars
$media-break1: 1000px;

// Second media query breakpoint -- all columned content
$media-break2: 1050px;

// Third media query breakpoint -- footer
$media-break3: 780px;

// Fourth media query breakpoint -- shop product cards
$media-break4: 540px;

// Fifth media query breakpoint -- overview bubbles on home page 
$media-break5: 670px;

// Sixth media query breakpoint -- home page headings
$media-break6: 590px;

// Final media query breakpoint -- the smallest the viewport can get
$media-break-min: 320px;