
.form {

    display: grid;
    width: 500px;
    margin-left: 10%;

    &__modal {
        display: grid;
        width: 100%;      
    }

    &__flash-msg {
        height: 30px;
        background-color: rgba(150,0,0,0.5);
        border-radius: 5px;
        color: white;
        font-weight: 600;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        width: calc(100% - 20px);
        padding-left: 20px;
    }

    &__flash-filler {
        height: 30px;
        margin-bottom: 20px;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 10px;
        height: 30px;
        border-bottom: 2px solid black;
        border-radius: 10px;
        grid-gap: 20px;
        input {
            outline: none;
            border: none;
            padding-left: 10px;
        }
    }

    &__field {
        border-radius: 10px;
    }

    &__label {
        border-radius: 10px;
        font-weight: 800;
        font-size: 1.1rem;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-items: right;
        padding-left: 10px;
    }

    &__close-icon {
        position: absolute;
        font-size: 2em;
        top: 0;
        right: 0;
        margin: 20px;
        color: gray;
        cursor: pointer;

        &:hover {
            color: rgb(114, 17, 17);
        }
    }

    &__cart-item {
        letter-spacing: 1px;
        padding-left: 10px;
        padding-right: 5px;
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 2fr;
        grid-gap: 5px;
        margin-bottom: 4px;
        margin-right: 5px;
        border: 2px solid rgba(0,0,0,0.2);
        border-radius: 10px;
        height: 40px;
        align-items: center;
        @include disable-select;

        &:hover {
            background-color: rgba(0,0,0,0.8);
            color: white;
        }

        &__delete {
            font-size: 80%;
            text-align: center;
            font-weight: 600;

            &:hover {
                background-color: red;
            }
        }

    }

    &__order-summary-item {
        letter-spacing: 1px;
        padding-left: 5px;
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        grid-gap: 20px;
        margin-bottom: 7px;
        border: 2px solid rgba(0,0,0,0.2);
        border-radius: 10px;
        @include disable-select;

        &:hover {
            background-color: rgba(255,255,255,0.6);
        }
    }

    &__order-summary-title {
        font-weight: 700;
    }

    &__order-summary-price {
        text-align: right;
        font-weight: 800;
        color: rgb(43, 139, 43);
        margin-right: 20px;
    }
}

.two-column-btn {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto;
}