.header {
    height: 80px;
    display: grid;

    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.59) 33%, rgba(255,255,255,0.76) 47%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(33%, rgba(255,255,255,0.59)), color-stop(47%, rgba(255,255,255,0.76)), color-stop(67%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.59) 33%, rgba(255,255,255,0.76) 47%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.59) 33%, rgba(255,255,255,0.76) 47%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.59) 33%, rgba(255,255,255,0.76) 47%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.59) 33%, rgba(255,255,255,0.76) 47%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
    
    grid-template-columns: 15px [brand-s] 300px [brand-e banner-s] 1fr [banner-e links-s] 200px [links-e] 15px;
    width: 100%;

    &__left {
        grid-column: brand-s/brand-e;
        display: flex;
        justify-content: center;
    }

    &__middle {
        grid-column: banner-s/banner-e;
        height: 150px;
        font-weight: 800;
    }

    &__right {
        grid-column: links-s/links-e;
    }


    &__icon {
        width: 60px;
        height: 60px;
    }
}