// DEFAULT
@import "./mixins";
@import "./constants";

html {
    // font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;
    position: relative;
    min-height: 100%;
    padding-bottom: 240px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;

}

.backdrop-img {
    height: 100%;
    width: 100%;
    z-index: -10;
    position: fixed;
    filter: blur(1px);

}


.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    width: 100%;

    & img {
        height: 240px;
        width: 240px;
    }
}

.page-container {
    margin-top: 30px;
    display: grid;
    // grid-template-columns: minmax(20px, 250px) [s] 1fr [e] minmax(20px, 250px);
    grid-template-columns: 1fr [s] minmax(300px, 1000px) [e] 1fr;
    min-height: calc(100vh - 447px);
}

.btn {
    background-color: $navbar-color;
    padding: 5px;
    margin: 10px;
    border-radius: 7px;
    color: white;
    cursor: pointer;

}

.btn-delete {
    background-color: darkred;
    color: white;
    padding: 2px;
    margin: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.btn-submit {
    background-color: #333;
    padding: 5px;
    margin: 10px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-weight: 800;
    font-size: 1.3em;
    border: 2px solid $navbar-color;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: white;
        color: black;
    }
}


// PAGES
@import "./home";
@import "./shop";
@import "./pages";
@import "./forms";

// NAVIGATION
@import "./navbar";
@import "./header";
@import "./footer";
