html {
    // font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;
    position: relative;
    min-height: 100%;
    padding-bottom: 240px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;

}

.backdrop-img {
    height: 100%;
    width: 100%;
    z-index: -10;
    position: fixed;
    filter: blur(3px);

}


.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    width: 100%;

    & img {
        height: 240px;
        width: 240px;
    }
}

.page-container {
    margin-top: 30px;
    display: grid;
    // grid-template-columns: minmax(20px, 250px) [s] 1fr [e] minmax(20px, 250px);
    grid-template-columns: 1fr [s] minmax(300px, 1000px) [e] 1fr;
}

// DEFAULT
@import "./mixins";
@import "./constants";

// PAGES
@import "./home";

// NAVIGATION
@import "./navbar";
@import "./header";
@import "./footer";
