html {
    // font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;

}


.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    width: 100%;

    & img {
        height: 240px;
        width: 240px;
    }
}

.page-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
    justify-items: center;
}

// DEFAULT
@import "./mixins";
@import "./constants";

// PAGES
@import "./home";

// NAVIGATION
@import "./navbar";
@import "./header";
