
// First media query breakpoint -- navbars

// @media screen and (max-width: $media-break1) {
//     .header {
//         display: none;
//     }

//     .navbar {
//         display: none;
//     }
// }


// Second media query breakpoint -- all columned content

@media screen and (max-width: $media-break2) {

    html {
        overflow-x: hidden;
    }

    .home {
        &__overview-columns{
            grid-template-columns: 1fr;
        }

        &__overview-image {
            width: 70%;
        }

        &__overview-text {
            font-size: 150%;
            width: 100%;
            background: rgba(0,0,0,0.3);
            padding: 5px;
            color: white;
            border-radius: 5px;
            @include category-shadow;

        }

    }

    .two-column {
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        justify-items: center;
    }



}

// Third media query breakpoint -- footer

@media screen and (max-width: $media-break3) {

    body {
        padding-bottom: 390px;
    }

    .footer {
        height: auto;
        &__columns {
            grid-template-columns: 1fr;
        }

        &__heading {
            margin-top: 15px;
        }

        &__social, &__links {
            grid-column: -1/1;
        }

        &__icons {
            grid-gap: 15px;
        }

        &__icon {
            font-size: 2.5em;
        }

        &__links-list {
            grid-row-gap: 15px;
        }

        &__copyright {
            margin-top: 30px;
            margin-bottom: 10px;
            font-size: 80%;
        }
    }
}


// Fourth media query breakpoint -- product cards in shop

@media screen and (max-width: $media-break4) {
    .shop {

        &__grid {
            grid-template-columns: 1fr;
        }

        &__product-image {
            padding-left: 20px;
            padding-right: 20px;
        }
        &__product-card {
            width: 95%;
        }

        &__product-infos {
            margin-left: 20px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 0px;
            
        }

        &__product-info {
            width: auto;
            margin-right: 20px;
            margin-left: 0px;
            padding-top: 10px;
            padding-left: 20px;
        }

        &__product-add-btn {
            margin-left: 120px;
            margin-right: 20px;
            transform: translateY(-42px);
            margin-bottom: -42px;
        }

    }
}