.modal {

    top: 50%;
    left: 50%;
    right: auto;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    min-height: 400px;

}

.modal-400 {
    width: 400px;
}

.modal-600 {

}

.modal-1000 {

}