
.navbar {
    height: 80px;
    background-color: $navbar-color;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
 
    -webkit-box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.81);
-moz-box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.81);
box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.81);

    a {
        color: white;
        text-decoration: none;
    }

    &__navlink {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 2px;
        width: 110px;
        @include disable-select;

        &__icon {
            align-content: center;
            img {
                height: 35px;
                width: 35px;
                padding: 4px;
            }
        }

        border-bottom: 2px solid transparent;
        animation: .3s all ease-in-out;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            border-bottom: 2px solid white;
        }
    }

    &__active {
        background-color: gray;

        &:hover {
            border-bottom: 2px solid transparent;
        }
    }
}