
.page-content {
    grid-column: s/e;

}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__gap30 {      
        grid-gap: 30px;
    }
}

.indent {
    margin-left: 40px;
}



.page {

    &__heading {
        width: 100%;
        font-weight: 800;
        font-size: 1.8rem;
        border-bottom: 2px solid black;
        border-radius: 4px;
        margin-bottom: 20px;
        @include disable-select;
    }

    &__label {
        @include disable-select;
        font-weight: 700;
        font-size: 1.1em;
    }

    &__row-gap {
        grid-row-gap: 10px;
    }

    &__dark-bg {
        background-color: rgba(0,0,0,0.3);
        padding: 10px;
        border-radius: 5px;
    }


    &__light-bg {
        background-color: rgba(255,255,255,0.5);
        padding: 10px;
        border-radius: 5px;
    }

    &__scroll {
        height: 30vh;
        overflow-y: scroll;
    }

    &__space30 {
        height: 30px;
    }

    &__space60 {
        height: 60px;
    }
}

.history-item {

    margin-bottom: 10px;
    display: grid;

    &__heading {
        background-color: black;
        padding: 5px;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;
    }

    &__date {
        color: white;
        font-weight: 600;
    }

    &__price {
        color: rgb(56, 219, 56);
        font-weight: 800;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 180px;
        grid-gap: 20px;
        margin-right: 8px;
    }

    &__details {
        cursor: pointer;
        background-color: #333;
        width: 170px;
        color: white;
        padding: 5px;
        border-radius: 15px;
        text-align: center;
        font-size: 80%;
        margin-top: 2px;
        margin-bottom: 20px;

        &:hover {
            background-color: #666;
        }
    }
}