.shop {

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-column-gap: 25px;
        grid-row-gap: 40px;
        width: 100%;
        justify-self: center;
        justify-items: center;
        
    }

    &__product-card {
        width: 240px;
        background-color: rgba(0,0,0,0.2);
        border-radius: 6px;
        display: grid;
        border: 1px solid rgba(0,0,0,0.3);
        @include category-shadow;
    }

    &__product-title {
        margin-top: 5px;
        background-color: rgba(0,0,0,0.7);
        color: white;
        font-weight: 800;
        font-size: 1.1em;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__product-display {
        display: grid;
        grid-template-columns: 100px 1fr;
    }

    &__product-image {
        padding: 10px;
        img {
            height: 80px;
            width: 80px;
        }
    }

    &__product-infos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100px;
    }

    &__product-info {
        background-color: rgba(0,0,0,0.3);
        width: 75%;
        color: white;
        font-size: 0.9rem;
        padding: 7px;
    }

    &__product-add {
        height: 28px;
        margin-bottom: 9px;
        background-color: rgba(255,255,255,0.7);
        color: black;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        animation: 0.4s all ease-in-out;

        &:hover {
            background-color: white;

        }

    }

}